
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>GoodAnimal</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand" href="">GoodAnimal</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      
              <li class="nav-item">
                <a class="nav-link" href="/catalogo">Animales</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/noticias">Noticias</a>
              </li>
              <!--
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Catalogo
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Bonitos</a></li>
                  <li><a class="dropdown-item" href="#">Más Bonitos</a></li>
                  <li><a class="dropdown-item" href="#">Exageradamente Bonitos</a></li>
                </ul>
              </li>
              -->
              <li class="nav-item">
                <a class="nav-link" href="/contacto">Contactanos</a>
              </li>
            </ul>
      
            <!--
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Buscador:" aria-label="Search">
              <button class="btn btn-outline-light" type="submit">Buscar</button>
            </form>
            -->
            
          </div>
        </div>

        <!--
          <div class="d-flex mx-4">
          <a class="nav-link" href="/login">LOGIN</a>
        </div>
        -->
        
    </nav>
      
    <router-outlet></router-outlet>
    <app-novedad-animal></app-novedad-animal>
    <app-footer></app-footer>
    
</body>
</html>

